### chracteristic of tuples:
    -ordered
    -unchangeable
    -allows duplicate
    - imutable is faster than mutable

#### creating tuple`

In [12]:
#empty
t = ()
print(type(t))

#creating single element tuple
t1 = (2,)
print(type(t1))
t2 = (1,2,3,4,5)
print(t2)
#hetro
t4 = (1,2.3,True,[1,2,3,4])
print(t4)
t5 = (1,2,3,4,(5,6,7))
print(t5)
#using type conversion
t6 = tuple('morning')
print(t6)

<class 'tuple'>
<class 'tuple'>
(1, 2, 3, 4, 5)
(1, 2.3, True, [1, 2, 3, 4])
(1, 2, 3, 4, (5, 6, 7))
('m', 'o', 'r', 'n', 'i', 'n', 'g')

#### accessing items
    indexing
    slicing

In [17]:
print(t2)
print(t2[0])
print(t2[-1])
print(t4[0:3])

(1, 2, 3, 4, 5)
1
5
(1, 2.3, True)

In [20]:
#reversing the tuple
print(t5[::-1])

((5, 6, 7), 4, 3, 2, 1)

#### editing items:tuple object doesn't support item assignment

In [23]:
print(t4)
t4[0]=144

(1, 2.3, True, [1, 2, 3, 4])

TypeError: 'tuple' object does not support item assignment

#### adding itmes

In [26]:
#addition is not possible
print(t2)

(1, 2, 3, 4, 5)

### deleting items

In [31]:
#we can delete tuple not its element or any portion of the tuple

print(t2)
del t2[0]

(1, 2, 3, 4, 5)

TypeError: 'tuple' object doesn't support item deletion

In [35]:
#delete tuple
print(t2)
del t2

NameError: name 't2' is not defined

In [51]:
tuple=(1,2,3,4)
print(tuple)
#reversing
tuple[-1:-6:-1]

(1, 2, 3, 4, 5)

(5, 4, 3, 2, 1)

#### operation on tuple

In [57]:
# (+and *)
tuple1 = (1,2,3,4)
tuple2 = (4,5,6)
print(tuple1+tuple2)
print(tuple1*2)
#membership
5 in tuple1
# interation
for i in tuple1:
    print(i)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3)
1
2
3

#### tuple functions

In [70]:
# len/sum/min/max/sorted/typle
print(len(tuple1)) # to get number of elements
print(sum(tuple1)) # adding each elements
print(min(tuple1)) #to get minimum no. in the tuple
print((max(tuple1))) #to get max no. in the tuple
print(sorted(tuple1)) # sort ascending order
print(type(sorted(tuple1,reverse=True)))
print(type(tuple1)) # to check to data type

3
6
1
3
[1, 2, 3]
<class 'list'>
<class 'tuple'>

In [22]:
import sys
l = list(range(10))
t = tuple(range(10))
print('list size',sys.getsizeof(l))
print('tuple size',sys.getsizeof(t))

list size 136
tuple size 120

In [26]:
import time 
l = list(range(10000000))
t = tuple(range(1000000))
start = time.time()
for i in l:
    i*3
print('list time',time.time()-start)

start1 = time.time()
for j in t:
    j*3
print('tuple time',time.time()-start1)

list time 0.8924720287322998
tuple time 0.09449911117553711