### dictionary: a collection of keys values, used to store data values like a map.
            dict = {'fruit':'grapes','vegtables':'chilly}
### CHRACTERISTICS:
            . mutable
            . no indexing work
            . keys cannot duplicate
            . keys cannot be mutable items

#### create dictionary

In [14]:
#empty dictinary
d = {}
# 1D dictionary
d1 = {'name':'chhavi','title':'rawat','gender':'male'}
#with mixed keys
d2 = {(1,2,3):2,'radhe':'krishna'}
# 2d dictionary
d3 = {
    'name':'chhavi',
    'university':'CSVTU',
    'sem': 5,
    'subjects':{
        'dsa':56,
        'maths':44,
        'c++':57
    }
}
# using sequence and dict fuction
d4 = dict([('name','chhavi'),('age',24)])
# duplicate keys : no duplicate keys, first update whichever is last keys
d5 = {'name':'chhavi','name':'rawat','gender':'male'}
# mutable items as keys
d6 = {'name':'chhavi','title':'rawat','gender':'male'}
d6['name'] = 'rahul'
d6

{'name': 'rahul', 'title': 'rawat', 'gender': 'male'}

### Accessing items

In [46]:
birthday = {'day':12,'month':'july','year':2000}
print(birthday['month'])
#get 
birthday.get('year')
# how to extract marks of math subject.
marks_university = {
    'name':'chhavi',
    'university':'CSVTU',
    'sem': 5,
    'subjects':{
        'dsa':56,
        'maths':44,
        'c++':57
    }
}
marks_university['subjects']['maths']

july

44

### Adding keys-value pair

In [34]:
birthday = {'day':12,'month':'july','year':2000}
birthday['university']='CSVTU'
birthday

{'day': 12, 'month': 'july', 'year': 2000, 'university': 'CSVTU'}

### Remove key-values pair

In [44]:
dob = {'day':12,'month':'july','year':2000}
# pop
dob.pop('month')
# popitem: delete last key-value 
dob.popitem()
dob
# clear
dob.clear()
# del
del dob
dob

NameError: name 'dob' is not defined

### Editing key-value pair

In [51]:
sem_exam = {
    'name':'chhavi',
    'university':'CSVTU',
    'sem': 5,
    'subjects':{
        'dsa':56,
        'maths':44,
        'c++':57
    }
}

#change the marks of c++ form 57 to 80
sem_exam['subjects']['c++'] = 80
sem_exam

{'name': 'chhavi',
 'university': 'CSVTU',
 'sem': 5,
 'subjects': {'dsa': 56, 'maths': 44, 'c++': 80}}

### Dictionary Operations
    membership
    iteration

In [54]:
print(sem_exam)
#membership 
'name' in  sem_exam

{'name': 'chhavi', 'university': 'CSVTU', 'sem': 5, 'subjects': {'dsa': 56, 'maths': 44, 'c++': 80}}

True

In [58]:
#iteration
for i in sem_exam:
    print(i,sem_exam[i])

name chhavi
university CSVTU
sem 5
subjects {'dsa': 56, 'maths': 44, 'c++': 80}

### Dictionary Function

In [61]:
#len/sorted
len(sem_exam)
sorted(sem_exam)

['name', 'sem', 'subjects', 'university']

In [66]:
# items/keys/values
print(sem_exam.items())
print(sem_exam.keys())
print(sem_exam.values())

dict_items([('name', 'chhavi'), ('university', 'CSVTU'), ('sem', 5), ('subjects', {'dsa': 56, 'maths': 44, 'c++': 80})])
dict_keys(['name', 'university', 'sem', 'subjects'])
dict_values(['chhavi', 'CSVTU', 5, {'dsa': 56, 'maths': 44, 'c++': 80}])

In [69]:
#uppdate
d1 = {1:11,2:22,3:3,4:4}
d2 = {3:33,4:44}
#update in d1
d1.update(d2)
d1

{1: 11, 2: 22, 3: 33, 4: 44}

### Dictionary Comprehension
    {key:value for var in iterable}

In [71]:
#print 1 st to 10 and their square
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [76]:
#using existing dictionary
marks = {'english':80,'maths':100}
{key:value * 0.34 for (key,value) in marks.items()}

{'english': 27.200000000000003, 'maths': 34.0}

In [77]:
#using zip
days = ['sunday','monday','tuesday','thirsday','friday','saturday']
tem_c = [23.4,33,23,34,34,12,23.3]
{i:j for (i,j) in zip(days,tem_c)}

{'sunday': 23.4,
 'monday': 33,
 'tuesday': 23,
 'thirsday': 34,
 'friday': 34,
 'saturday': 12}

In [79]:
#using if condition
products = {'phone':100,'charger':0,'tablet':0,'headphone':234}
{key:value for (key,value) in products.items() if value>0}

{'phone': 100, 'headphone': 234}

In [83]:
#nested comprehension
# print tables of number form 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,11)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40},
 5: {1: 5, 2: 10, 3: 15, 4: 20, 5: 25, 6: 30, 7: 35, 8: 40, 9: 45, 10: 50},
 6: {1: 6, 2: 12, 3: 18, 4: 24, 5: 30, 6: 36, 7: 42, 8: 48, 9: 54, 10: 60},
 7: {1: 7, 2: 14, 3: 21, 4: 28, 5: 35, 6: 42, 7: 49, 8: 56, 9: 63, 10: 70},
 8: {1: 8, 2: 16, 3: 24, 4: 32, 5: 40, 6: 48, 7: 56, 8: 64, 9: 72, 10: 80},
 9: {1: 9, 2: 18, 3: 27, 4: 36, 5: 45, 6: 54, 7: 63, 8: 72, 9: 81, 10: 90},
 10: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60, 7: 70, 8: 80, 9: 90, 10: 100}}